.submenu li a{color:#333; padding:10px 10px;}
 
.submenu li a:hover{
background:#ddd; 
color:black;
}

.menu li  ul{
    position:absolute; 
    top:70px; 
    background-color:#fff; 
    display:none;
    z-index: 1;
    }   

    .menu li:hover ul, .menu li.over ul{display:block;}


    .menu li ul li{
        width:203px;
		}
		
		.submenu2 li a{color:#333; padding:10px 10px;}

		.submenu2{
			position: relative;
			width: 168px;
			}

		.submenu2  a:hover,
		.submenu2  a:focus {
			background: rgba(0, 0, 0, .15);
			height: 23px;
			width: 147px;
			}

		.submenu3 li a{color:#333; padding:10px 10px;}

		.submenu3{
			position: relative;
			width: 163px;
			font-size:15px;
			}

		.submenu3  a:hover,
		.submenu3  a:focus {
			background: rgba(0, 0, 0, .15);
			height: 23px;
			width: 143px;
			}
        
body {
-moz-osx-font-smoothing:grayscale;
-webkit-box-direction:normal;
-webkit-box-orient:vertical;
-webkit-font-smoothing:antialiased;
background: green;
color:#777;
font-family:Montserrat, sans-serif;
font-size: 1em;
font-weight:300;
margin:0;
min-height:100vh;
padding:0%;
}

.preto{
    font-weight: bold;
}

.img{
    width: 65px;
    padding-top: 10px;
}
h1 {
	font-weight: 200;
	font-size: 2.2rem;
	color: #222;
	text-align: center;
}

h4{
	padding-left: 20px;
	padding-top: 28px;
	font-size: 15px;
	color: black;
	line-height: 5px;
}

nav {
	margin: 0 auto;
	max-width: 100%;
	background: white;
	box-shadow:0 3px 15px rgba(0,0,0,.15);
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0px;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 1rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
    color:black;
    padding-top: 30px;
    padding-left: 39px;
    position: center;
}

nav ul li a:hover,
nav ul li a:focus {
    background: rgba(0, 0, 0, .15);
    height: 23px;
}


nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}


nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
}

*, *:before, *:after { 
	margin:0;
	padding:0;
	font-family: Arial,sans-serif;
  }
  
  p{
	margin-bottom:15px;
  }